@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Bangazon Workforce</h2>
        <ul>
            <li><a asp-area="" asp-controller="Department" asp-action="Index">Departments</a></li>
            <li><a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></li>
        </ul>
    </div>
</div>
